<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <updateIntegrationItem>
        <processor type="Sitecore.Support.Sharepoint.Pipelines.ProcessIntegrationItem.UpdateName, Sitecore.Support.119618"
          patch:before="processor[@type='Sitecore.Sharepoint.Pipelines.ProcessIntegrationItem.UpdateFields, Sitecore.Sharepoint.Data.Providers']" />
      </updateIntegrationItem>
    </pipelines>
  </sitecore>
</configuration>